.header_container {
  box-shadow: 0 1px 2px 3px rgba(177, 174, 174, 0.25);
  box-sizing: border-box;
  height: 174px;
  margin: 0;
  width: 100%;
}

.header_top {
  align-items: center;
  background: #023031;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 96px;
  justify-content: space-between;
}

.name_container {
  align-items: center;
  background: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 41.65px;
  justify-content: center;
  text-align: center;
  width: 198.7px;
}

.header_bot {
  background: #f0f2f5;
  display: flex;
  height: 78px;
  justify-content: space-between;
  margin: 0;
}

.link {
  align-items: center;
  border-left: 2px white;
  color: #2fc18c;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 29px;
  text-decoration: none;
  width: 478px;
}
